In [8]:
import pandas as pd
import numpy as np
data = pd.read_csv('activities.csv')
data.shape

#check and compare: time of day, heart rate, pace, cadence, elevation gain, elevation loss, distance, duration

(192, 99)

In [9]:

data.columns=data.columns.str.lower()
data.info() #shows non-null counts and data types
data.head() # to see column names and some rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 99 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   activity id                   192 non-null    int64
 1   activity date                 192 non-null    object
 2   activity name                 192 non-null    object
 3   activity type                 192 non-null    object
 4   activity description          28 non-null     object
 5   elapsed time                  192 non-null    int64
 6   distance                      192 non-null    float64
 7   max heart rate                89 non-null     float64
 8   relative effort               89 non-null     float64
 9   commute                       192 non-null    bool
 10  activity private note         0 non-null      float64
 11  activity gear                 77 non-null     object
 12  filename                      192 non-null    object
 13  athlete weight                0 non-null      float64
 14  bike weight                   0 non-null      float64
 15  elapsed time.1                192 non-null    float64
 16  moving time                   192 non-null    float64
 17  distance.1                    192 non-null    float64
 18  max speed                     192 non-null    float64
 19  average speed                 192 non-null    float64
 20  elevation gain                192 non-null    float64
 21  elevation loss                192 non-null    float64
 22  elevation low                 192 non-null    float64
 23  elevation high                192 non-null    float64
 24  max grade                     192 non-null    float64
 25  average grade                 192 non-null    float64
 26  average positive grade        0 non-null      float64
 27  average negative grade        0 non-null      float64
 28  max cadence                   86 non-null     float64
 29  average cadence               86 non-null     float64
 30  max heart rate.1              89 non-null     float64
 31  average heart rate            89 non-null     float64
 32  max watts                     0 non-null      float64
 33  average watts                 42 non-null     float64
 34  calories                      179 non-null    float64
 35  max temperature               0 non-null      float64
 36  average temperature           53 non-null     float64
 37  relative effort.1             89 non-null     float64
 38  total work                    42 non-null     float64
 39  number of runs                0 non-null      float64
 40  uphill time                   0 non-null      float64
 41  downhill time                 0 non-null      float64
 42  other time                    0 non-null      float64
 43  perceived exertion            2 non-null      float64
 44  type                          0 non-null      float64
 45  start time                    0 non-null      float64
 46  weighted average power        42 non-null     float64
 47  power count                   42 non-null     float64
 48  prefer perceived exertion     27 non-null     float64
 49  perceived relative effort     2 non-null      float64
 50  commute.1                     192 non-null    float64
 51  total weight lifted           0 non-null      float64
 52  from upload                   192 non-null    float64
 53  grade adjusted distance       89 non-null     float64
 54  weather observation time      91 non-null     float64
 55  weather condition             91 non-null     float64
 56  weather temperature           91 non-null     float64
 57  apparent temperature          91 non-null     float64
 58  dewpoint                      91 non-null     float64
 59  humidity                      91 non-null     float64
 60  weather pressure              91 non-null     float64
 61  wind speed                    91 non-null     float64
 62  wind gust                     91 non-null     float64
 63  wind bearing                  91 non-null     float64
 64  precipitation intensity       91 non-null     float64
 65  sunrise time                  91 non-null     float64
 66  sunset time                   91 non-null     float64
 67  moon phase                    91 non-null     float64
 68  bike                          0 non-null      float64
 69  gear                          77 non-null     float64
 70  precipitation probability     91 non-null     float64
 71  precipitation type            91 non-null     float64
 72  cloud cover                   91 non-null     float64
 73  weather visibility            91 non-null     float64
 74  uv index                      91 non-null     float64
 75  weather ozone                 0 non-null      float64
 76  jump count                    0 non-null      float64
 77  total grit                    0 non-null      float64
 78  average flow                  0 non-null      float64
 79  flagged                       142 non-null    float64
 80  average elapsed speed         192 non-null    float64
 81  dirt distance                 192 non-null    float64
 82  newly explored distance       0 non-null      float64
 83  newly explored dirt distance  0 non-null      float64
 84  activity count                0 non-null      float64
 85  total steps                   88 non-null     float64
 86  carbon saved                  52 non-null     float64
 87  pool length                   0 non-null      float64
 88  training load                 42 non-null     float64
 89  intensity                     42 non-null     float64
 90  average grade adjusted pace   78 non-null     float64
 91  timer time                    0 non-null      float64
 92  total cycles                  21 non-null     float64
 93  recovery                      11 non-null     float64
 94  with pet                      0 non-null      float64
 95  competition                   0 non-null      float64
 96  long run                      0 non-null      float64
 97  for a cause                   0 non-null      float64
 98  media                         24 non-null     object
dtypes: bool(1), float64(89), int64(2), object(7)
memory usage: 147.3+ KB

,activity id,activity date,activity name,activity type,activity description,elapsed time,distance,max heart rate,relative effort,commute,...,intensity,average grade adjusted pace,timer time,total cycles,recovery,with pet,competition,long run,for a cause,media
0,7642634151,"Aug 15, 2022, 3:09:27 PM",Afternoon Run,Run,NaN,697,2.38,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7677059908,"Aug 21, 2022, 5:23:40 PM",Evening Run,Run,NaN,740,2.27,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7727062453,"Aug 30, 2022, 6:17:34 PM",Evening Run,Run,NaN,871,2.59,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7839730425,"Sep 20, 2022, 5:37:47 PM",Evening Run,Run,Tillbaks efter 2 veckors bihålesinflammation!,1192,4.01,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8745601410,"Mar 20, 2023, 10:16:23 AM",Lunch Run,Run,NaN,290,0.89,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#lets select relevant columns
relevant_columns = ['activity id', 'activity type', 'elapsed time', 'distance', 'max heart rate', 'average heart rate', 'elevation gain', 'elevation loss', 'max speed', 'average speed', 'max cadence','average cadence','calories', 'start time']
data = data[relevant_columns]

# filter to running activities
data = data[data['activity type'] == 'Run']
data.head()

(89, 14)